@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-blue: #0079ff;
$secondary-blue: #2e294e;
$primary-red: #ff4d4f;

$primary-font-family: 'Poppins', sans-serif;

$break-width: 970px;